.chatinfo-box {
  .chatinfo-header {
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    box-sizing: border-box;
  }

  background-color: #fff;

  .user-item {
    width: 140px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    .user-avatar {
      width: 120px;
      height: 120px;
      border-radius: 8px;
      background-color: #fafafa;
    }

    .user-name {
      font-size: 28px;
      color: #888;
      width: 100%;
      text-align: center;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .user-name-input{
    text-align: right;
  }
}