.message-tip {
  text-align: center;
  margin: 24px 0;

  .message-tip-text {
    border: 1px solid #eee;
    background-color: #fafafa;
    color: #666;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 8px;
  }
}